{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
  <link type='text/css' href='{% static "css/estilos.css" %}' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
</head>

<body>
  {% block content %}

  <h1 class="h1">Iniciar Sesión </h1>

  <div class="pagina-centrada-productos">
    <div class="contenedor-logo">
      <img src="{% static 'images/logo.png' %}" alt="Logo de la empresa" class="logo-empresa">
    </div>

    <div class="pagina-centrada-cuenta">
      <form method="post" class="form-signin">
        {% csrf_token %}

        <p><label for="id_username">Email:</label>
          {{ form.username }}</p>
        <p><label for="id_password">Contraseña:</label>
          {{ form.password }}</p>

        <p><button class="icono-cuenta" type="submit">Iniciar Sesión</button></p>

        <p>¿No tienes cuenta? </p>
        <p></p>
        <a href="/accounts/register/" class="icono-cuenta">Regístrate aquí</a>
      </form>
    </div>
  </div>
  {% endblock %}
</body>

</html>