<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid #000;
            width: 100%;
        }

        td {
            border: 2px solid #000;
            text-align: left;
            padding: 8px;
        }

        td:first-child {
            width: 300px; 
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h2>Detalles de la autocaravana {{ producto.nombre }}</h2>
    <ul>
        <table>
            <tr>
                <td>
                    <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
                </td>
                <td>
                    <h3>{{ producto.nombre }}</h3>
                    <p>{{ producto.marca }}</p>
                    <p>{{ producto.modelo }}</p>
                    <p>{{ producto.descripcion }}</p>
                    <p>Precio: ${{ producto.precio }}</p>
                </td>
            </tr>
        </table>
    </ul>
</body>

</html>