{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link type='text/css' href='{% static "css/estilos.css" %}' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>

<body>
    {% block content %}
    <title>Catálogo</title>

    <div class="pagina-centrada-productos">
        <h1>Catálogo de Autocaravanas de Alquiler</h1>
        <p>¡Bienvenido a nuestro exclusivo catálogo de autocaravanas! Explora nuestra selección de vehículos diseñados para brindarte una experiencia de viaje excepcional en cada momento. Nos dedicamos a asegurar tu comodidad y seguridad en cada aventura.</p>
</div>

    <div class="banner-categorias">
        <h6><a class="btn-link" href="?categoria=integral">Autocaravanas integrales</a></h6>
        <h6><a class="btn-link" href="?categoria=perfilada">Autocaravanas perfiladas</a></h6>
        <h6><a class="btn-link" href="?categoria=capuchina">Autocaravanas capuchinas</a></h6>
        <h6><a class="btn-link" href="?categoria=camper">Autocaravanas campers</a></h6>
    </div>

    <div class="pagina-centrada-productos">
        
        {% for producto in productos %}
        <div class="product">
            <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
            <div class="product-info">

                {% if producto.oferta != None %}
                <h4 class="message">¡En oferta!</h4>
                {% endif %}

                <h3>{{ producto.nombre }}</h3>
                {% if producto.unidades == 0 %}
                <h4 class="message">¡Agotado!</h4>
                {% endif %}
                {% if producto.unidades <= 5 and producto.unidades > 0 %}
                    <h4 class="message">¡Sólo quedan {{ producto.unidades }} unidades!</h4>
                        {% endif %}


                        {% if producto.oferta != None %}
                        <h4><del>{{ producto.precio }} €/día</del> {{ producto.precio_rebajado }} €/día</h4>
                        {% else %}
                        <h4>{{ producto.precio }} €/día</h4>
                        {% endif %}

                        <p class="icono"><i class="fas fa-car-side"></i> {{ producto.capacidad_viajar }} viajar</p>
                        <p class="icono"><i class="fas fa-bed"></i> {{ producto.capacidad_dormir }} dormir</p>
                        <div>
                            {% if producto.unidades != 0 %}
                            <input class="icono" type="number" id="cantidad-{{ producto.id }}" name="cantidad" style="width: 50px;" min="1" value="1" onchange="updateCartLink({{ producto.id }})">

                            <p class="icono" style="display: inline; margin-left: 10px;">
                                <a class="btn-link" href="/cesta/agregar-al-carrito/{{producto.id}}?cantidad=1" id="add-to-cart-{{ producto.id }}">
                                    <i class="fas fa-cart-plus icono"></i>
                                </a>
                            </p>
                            {% endif %}
                        </div>
                        
                        <h5><a class="btn-link" href="/productos/{{producto.id}}">Más información</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function updateCartLink(productId) {
            var cantidadInput = document.getElementById('cantidad-' + productId);
            var cartLink = document.getElementById('add-to-cart-' + productId);
            cartLink.href = '/cesta/agregar-al-carrito/' + productId + '?cantidad=' + cantidadInput.value;
        }
    </script>
    {% endblock %}
</body>
</html>