.fa-cart-shopping {
    font-size: 36px;
    color: #ffd200
}

.fa-user {
    font-size: 36px;
    color: #ffd200;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8d021f;
    padding: 10px;
    color: white;
}

#search-bar {
    display: flex;
    align-items: center;
}

#search-bar label {
    margin-right: 10px;
}

#search-bar input {
    margin-right: 10px;
}

#nav-links {
    display: flex;
}

#nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

#nav-links a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
}

.pie-pagina {
    background-color: #8d021f;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.columna-izquierda {
    flex: 0 0 calc(50% - 10px);
}

.columna-derecha {
    flex: 0 0 calc(50% - 10px);
}

.informacion-contacto,
.detalles-legales {
    margin-bottom: 10px;
}

.product {
    width: 300px;
    height: 550px;
    margin: 10px;
    border: 3px solid #8d021f;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
}

.product-info {
    padding: 10px;
    background-color: #f9f9f9;
    height: calc(100% - 220px);
    overflow: auto;

}

.product-info p {
    margin: 8px 0;
    font-size: 14px;
}

.product-info h3 {
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    margin: 0;
}

.message {
    color: #8d021f;
    font-weight: bold;
    margin-top: 0;
}

.icono {
    background-color: #ffd200;
    color: #8d021f;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.icono-cuenta {
    background-color: #ffd200;
    color: #8d021f;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.precio-tachado {
    text-decoration: line-through;
}

.banner {
    background-color: #8d021f;
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 5px;

}

.banner-categorias {
    background-color: #8d021f;
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 20px;

}

.banner-categorias p,
.banner p {
    animation: blink 1s linear infinite;
}

.banner-categorias a,
.banner a {
    color: white;   
    text-decoration: none;

}

.banner-categorias h6,
.banner h5 {
    display: inline;
    padding: 30px;
    font-size: 20px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pagina-centrada-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid #8d021f;

}

.pagina-centrada-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.pagina-centrada-cuenta h1,
.pagina-centrada-productos h1 {
    color: #8d021f;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.pagina-centrada-productos p {
    font-size: 1.1em;
    line-height: 1.5;
}

.pagina-centrada-cuenta p {
    font-size: 1.1em;
    line-height: 0.5;
    margin-bottom: 0px; 
}

.pagina-centrada-cuenta a:hover {
    background-color: #6a011f;
}

.product-details {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.product-details h1 {
    color: #8d021f;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    border: 4px solid #8d021f;
    border-radius: 5px;
}

.message-details {
    color: #8d021f;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
}

.subtitulo {
    color: #8d021f;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}

.subtitulo-centrado {
    color: #8d021f;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.sugerencias {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    text-align: center;
}

.message-sugerencia {
    color: #8d021f;
    font-weight: bold;
    margin-top: 0;
}

.h1 {
    color: #8d021f;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

h5 a.btn-link {
    color: #8d021f;
}

.tabla-opiniones {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabla-opiniones th,
.tabla-opiniones td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.opinion-form {
    display: flex;
    flex-direction: column;
}