{% extends 'base.html' %}
<body>
    {% block content %}

    <h1>Detalles del Usuario</h1>

    <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
    <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Fecha de registro:</strong> {{ user.date_joined }}</p>
    <br>
    <div style="display: flex; gap: 100px;">
        <a href="{% url 'editar_perfil' %}">Editar Perfil</a>
        <a href="/logout/">Logout</a>
    </div>

    {% endblock %}
</body>