{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link type='text/css' href='{% static "css/estilos.css" %}' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    {% block content %}

    <div class="pagina-centrada-productos">
            <h1>Alquiler de Autocaravanas</h1>
            <p>Explora nuestro amplio catálogo de autocaravanas cuidadosamente seleccionadas para garantizar tu comodidad y seguridad en cada kilómetro. Nos enorgullecemos de ofrecer la mejor experiencia de alquiler, brindándote la libertad de viajar a tus destinos favoritos con total confianza.</p>
    </div>

    <div class="banner">
        <p>¡Productos en oferta!</p>
    </div>

    <div class="pagina-centrada-productos">
        {% for producto in productos %}
        {% if producto.oferta != None %}

        <div class="product">
            <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
            <div class="product-info">

                {% if producto.oferta != None %}
                    <h4 class="message">¡En oferta!</h4>
                {% endif %}

                <h3>{{ producto.nombre }}</h3>
                {% if producto.unidades == 0 %}
                    <h4 class="message">¡Agotado!</h4>
                {% endif %}
                
                {% if producto.unidades <= 5 and producto.unidades > 0 %}
                    <h4 class="message">¡Sólo quedan {{ producto.unidades }} unidades!</h4>
                {% endif %}


                {% if producto.oferta != None %}
                    <h4><del>{{ producto.precio }} €/día</del> {{ producto.precio_rebajado }} €/día</h4>
                {% else %}
                    <h4>{{ producto.precio }} €/día</h4>
                {% endif %}

                <p class="icono"><i class="fas fa-car-side"></i> {{ producto.capacidad_viajar }} viajar</p>
                <p class="icono"><i class="fas fa-bed"></i> {{ producto.capacidad_dormir }} dormir</p>
                
                <div>
                    {% if producto.unidades != 0 %}
                        <p class="icono" style="display: inline; margin-left: 10px;">
                            <a class="btn-link" href="/cesta/agregar-al-carrito/{{producto.id}}">
                                <i class="fas fa-cart-plus icono"></i>
                            </a>
                        </p>
                    {% endif %}
                </div>
                    
                <h5><a class="btn-link" href="/productos/{{producto.id}}">Más información</a></h5>

            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>


    <div class="banner">
        <p>¡Últimas unidades!</p>
    </div>



    <div class="pagina-centrada-productos">
        {% for producto in productos %}
        {% if producto.unidades <= 5 and producto.unidades > 0 %}

        <div class="product">
            <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
            <div class="product-info">

                {% if producto.oferta != None %}
                    <h4 class="message">¡En oferta!</h4>
                {% endif %}

                <h3>{{ producto.nombre }}</h3>
                {% if producto.unidades == 0 %}
                    <h4 class="message">¡Agotado!</h4>
                {% endif %}
                
                {% if producto.unidades <= 5 and producto.unidades > 0 %}
                    <h4 class="message">¡Sólo quedan {{ producto.unidades }} unidades!</h4>
                {% endif %}


                {% if producto.oferta != None %}
                    <h4><del>{{ producto.precio }} €/día</del> {{ producto.precio_rebajado }} €/día</h4>
                {% else %}
                    <h4>{{ producto.precio }} €/día</h4>
                {% endif %}

                <p class="icono"><i class="fas fa-car-side"></i> {{ producto.capacidad_viajar }} viajar</p>
                <p class="icono"><i class="fas fa-bed"></i> {{ producto.capacidad_dormir }} dormir</p>
                
                <div>
                    {% if producto.unidades != 0 %}
                        <p class="icono" style="display: inline; margin-left: 10px;">
                            <a class="btn-link" href="/cesta/agregar-al-carrito/{{producto.id}}">
                                <i class="fas fa-cart-plus icono"></i>
                            </a>
                        </p>
                    {% endif %}
                </div>
                    
                <h5><a class="btn-link" href="/productos/{{producto.id}}">Más información</a></h5>

            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
    
    {% endblock %}
</body>

