{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link type='text/css' href='{% static "css/estilos.css" %}' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <title>Seguimiento</title>

    <div class="pagina-centrada-cuenta">
        <h2 style="color: #8d021f;">Introduzca su código de seguimiento para consultar los datos de su pedido</h2>
    <form method="POST">
        {% csrf_token %}

        <label for="codigo">Código de seguimiento:</label>
        <input type="text" id="codigo" name="codigo">
        <button class="icono" type="submit">Enviar</button>
    </form>
    </div>
    <div class="pagina-centrada-cuenta">


        {% if pedido.precio is None %}
            <p class="message">No existe ningún pedido asociado a ese código de seguimiento</p>
        {% else %}
            <p><span class="message">Nombre:</span> {{ pedido.first_name }}</p>
            <p><span class="message">Apellidos:</span> {{ pedido.last_name }}</p>
            <p><span class="message">Correo electrónico:</span> {{ pedido.email }}</p>
            <p><span class="message">Teléfono:</span> {{ pedido.telefono }}</p>
            <p><span class="message">Dirección de envío:</span> {{ pedido.direccion_envio }}</p>
            {% if pedido.forma_entrega == 'EST' %}
                <p><span class="message">Forma de entrega:</span> Estándar </p>
            {% elif pedido.forma_entrega == 'URG' %}
                <p><span class="message">Forma de entrega:</span> Urgente </p>
            {% else %}
                <p><span class="message">Forma de entrega:</span> "24 horas" </p>
            {% endif %}
            {% if pedido.forma_pago == 'CONT' %}
                <p><span class="message">Forma de pago:</span> Contrareembolso </p>
            {% else %}
                <p><span class="message">Forma de pago:</span> "Con tarjeta" </p>
            {% endif %}
            <p><span class="message">Estado:</span> {{ pedido.estado }}</p>
            <p><span class="message">Precio :</span> {{ pedido.precio }}€</p>
        {% endif %}


    </div>
    {% endblock content %}
</body>

</html>