{% extends 'base.html' %}

{% block content %}
<h2>Carrito de Compras</h2>

<form method="post" action="{% url 'realizar_pedido' %}">
  {% csrf_token %}
  <ul>
    {% for item in items %}
    <li>
      {{ item.producto.nombre }} -
      Cantidad: <input style="width: 70px" type="number" name="cantidad_{{ item.id }}" value="{{ item.cantidad }}" min="0">
      Subtotal: <span class="subtotal" id="subtotal-{{ item.id }}">{{ item.calcular_subtotal }}</span>
      <input type="hidden" name="producto_id_{{ item.id }}" value="{{ item.producto.id }}">
    </li>
    {% endfor %}
  </ul>

  <button type="submit">Realizar pedido</button>
</form>

<p>Total: <span id="total">{{ carrito.calcular_total }}</span></p>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const cantidadInputs = document.querySelectorAll('input[name^="cantidad_"]');
    cantidadInputs.forEach(input => {
      input.addEventListener('change', function () {
        const itemId = this.name.replace("cantidad_", "");
        const productoId = document.querySelector(`input[name="producto_id_${itemId}"]`).value;
        const nuevaCantidad = this.value;
        const subtotalElement = document.querySelector(`#subtotal-${itemId}`);

        obtenerPrecioProducto(productoId, function (precioProducto) {
          const nuevoSubtotal = precioProducto * nuevaCantidad;

          subtotalElement.textContent = nuevoSubtotal.toFixed(2);
          actualizarTotal();
          guardarCarritoEnLocalStorage();
        });
      });
    });

    function obtenerPrecioProducto(productoId, callback) {
      fetch(`/obtener_producto/${productoId}/`)
        .then(response => response.json())
        .then(producto => {
          const precioProducto = producto ? producto.precio : 0.0;
          callback(precioProducto);
        })
        .catch(error => {
          console.error('Error al obtener información del producto:', error);
          callback(0.0);
        });
    }

    function actualizarTotal() {
      let total = 0;
      const subtotales = document.querySelectorAll('.subtotal');
      subtotales.forEach(subtotal => {
        total += parseFloat(subtotal.textContent);
      });
      document.querySelector('#total').textContent = total.toFixed(2);
    }

    function guardarCarritoEnLocalStorage() {
      const carrito = [];
      const items = document.querySelectorAll('input[name^="cantidad_"]');
      items.forEach(item => {
        const itemId = item.name.replace("cantidad_", "");
        const cantidad = item.value;
        const productoId = document.querySelector(`input[name="producto_id_${itemId}"]`).value;
        const subtotal = document.querySelector(`#subtotal-${itemId}`).textContent;

        carrito.push({
          itemId,
          cantidad,
          productoId,
          subtotal,
        });
      });

      localStorage.setItem('carrito', JSON.stringify(carrito));
    }

    // Cargar el carrito desde localStorage al cargar la página
    const storedCarrito = localStorage.getItem('carrito');
    if (storedCarrito) {
      const carritoData = JSON.parse(storedCarrito);
      carritoData.forEach(item => {
        const input = document.querySelector(`input[name="cantidad_${item.itemId}"]`);
        if (input) {
          input.value = item.cantidad;
          document.querySelector(`#subtotal-${item.itemId}`).textContent = item.subtotal;
        }
      });
      actualizarTotal();
    }
  });
</script>
{% endblock %}
