{% extends 'base.html' %}

{% block content %}
<h2>Carrito de Compras</h2>

<ul>
  {% for item in items %}
  <li>
    {{ item.producto.nombre }} -
    Cantidad: <input style="width: 70px" type="number" class="cantidad-input" data-item-id="{{ item.id }}"
      value="{{ item.cantidad }}" min="0"> -
    Subtotal: <span class="subtotal" id="subtotal-{{ item.id }}">{{ item.calcular_subtotal }}</span>
  </li>
  {% endfor %}
</ul>

<p>Total: <span id="total">{{ carrito.calcular_total }}</span></p>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cantidadInputs = document.querySelectorAll('.cantidad-input');
    cantidadInputs.forEach(input => {
      input.addEventListener('change', function () {

        for (let key in this) {
          if (this.hasOwnProperty(key)) {
            let value = this[key];
            console.log('Atributo: ${ key }, Valor: ${ value }');
          }
        }

        const itemId = this.getAttribute('data-item');
        const productoId = this.getAttribute('data-item-producto-id');
        console.log(itemId)
        console.log(productoId)

        const nuevaCantidad = this.value;
        const subtotalElement = document.querySelector(`#subtotal-${itemId}`);

        obtenerPrecioProducto(productoId, function(precioProducto) {
          const nuevoSubtotal = precioProducto * nuevaCantidad;

          subtotalElement.textContent = nuevoSubtotal.toFixed(2);
          actualizarTotal();
        });
      });
    });

    function obtenerPrecioProducto(productoId, callback) {
      fetch(`/obtener_producto/${productoId}/`)
        .then(response => response.json())
        .then(producto => {
          const precioProducto = producto ? producto.precio : 0.0;
          callback(precioProducto);
        })
        .catch(error => {
          console.error('Error al obtener información del producto:', error);
          callback(0.0);
          
        });
        console.log(producto.precio)
    }

    function actualizarTotal() {
      let total = 0;
      const subtotales = document.querySelectorAll('.subtotal');
      subtotales.forEach(subtotal => {
        total += parseFloat(subtotal.textContent);
      });
      document.querySelector('#total').textContent = total.toFixed(2);
    }
  });
</script>
{% endblock %}