<!-- templates/cesta/procesar_pago_stripe.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Pago con Stripe</h1>
  
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    var stripe = Stripe('pk_test_51OH5liE1VZogj5Oj0dHBqa4m8iUUnJjHs0LghaN5wIcPLFKBPCUckQhWNOKJdI3uBX1jL1jIrlFOwYhiUcIbVDv300Veb3Ep6W'); // Reemplaza con tu clave pública de Stripe
    var sessionId = "{{ session_id }}";

    stripe.redirectToCheckout({
      sessionId: sessionId
    }).then(function (result) {
      // Si hay algún error durante la redirección, puedes manejarlo aquí
      console.error(result.error.message);
    });
  </script>
{% endblock %}