{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link type='text/css' href='{% static "css/estilos.css" %}' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <title>Pago</title>

    <form method="post" action="{% url 'procesar_pago' %}">
        {% csrf_token %}

        <h1 class="h1">Forma de pago:</h1>

        <div class="pagina-centrada-cuenta">

            <div class="pagina-centrada-productos">

                <div class="forma-pago">
                    <p><img class="logo-pago" src="/static/images/logoAutovan.jpeg" alt="Logo de la imagen"></p>

                    <h4 class="h4"><p class="seguridad"><i class="fas fa-lock"></i></p>Aún no se te cobrará nada</h4>
                    <h4 class="h4"><p class="seguridad"><i class="fas fa-user-lock"></i></p>Opciones de pago seguro</h4>
                </div>
                <div class="forma-pago">

                    <label for="{{ form.forma_pago.id_for_label }}">Seleccione la forma de pago*:</label>
                    <select name="{{ form.forma_pago.name }}" id="{{ form.forma_pago.id_for_label }}"
                        class="form-control icono">
                        {% for value, label in form.forma_pago.field.choices %}
                        <option value="{{ value }}" {% if form.forma_pago.value == value %}selected{% endif %}>{{ label }}
                        </option>
                        {% endfor %}

                    </select>          
                    <button class="icono" type="submit">Proceder al pago</button>

                </div>
            </div>
        </div>
    </form>


    <h1 class="h1">Resumen del pedido</h1>
    <div class="sugerencias">
        {% for item in items %}
            {% if item.producto.nombre == "Gastos de envío" %}
                <div class="product" style="height: 100px; margin-bottom: 460px;">
                    <h3>{{ item.producto.nombre }}</h3>
                    <h4 class="message"><span class="subtotal" id="subtotal-{{ item.id }}">{{ item.calcular_subtotal }}</span> €</h4>
                    <input type="hidden" name="producto_id_{{ item.id }}" value="{{ item.producto.id }}">
                </div>
            {% else %}
                <div class="product">
                    <img src="{{ item.producto.imagen }}" alt="{{ item.producto.nombre }}">
                    <div class="product-info">
                    <h3>{{ item.producto.nombre }}</h3>
                    <h4>Cantidad: {{ item.cantidad }} días</h4>
                    <h4 class="message">Subtotal: <span class="subtotal" id="subtotal-{{ item.id }}">{{ item.calcular_subtotal }}</span> €</h4>
                    <input type="hidden" name="producto_id_{{ item.id }}" value="{{ item.producto.id }}">
                    </div>
                </div>
            {% endif %}       
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>
